// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.project-list-item {
    width: 100% !important;

    @media screen and (min-width: 800px) {
        width: 30% !important;
    }
}

.avatar {
    width: 50px;
}

.error-input {
    border: 2px solid red;
}